:root {
  /*colors - light mode*/
  /* --bg-light: white;
      --theme-light: dodgerblue;
      --clickbutton-light: #0158ae;
      --text-light: white; */

  /*colors - dark mode*/
  --bg-dark: #131313;
  --theme-dark: #b46dd2;
  --clickbutton-dark: rgb(149, 36, 198);
  --border-dark: #e6b2fd;
}
/* General Styles */
body {
  font-family: Arial, sans-serif;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 2%;
  margin-bottom: 2%;
  flex-direction: column;
  line-height: 1.6;
  background-color: var(--bg-dark);
}
.api-header {
  display: flex;
  gap: 20px;
  flex-shrink: 0;
  flex-direction: row;
  margin-bottom: 3vh;
}
.home {
  background-color: var(--theme-dark);
  color: white;
  border: 0.2vh solid var(--theme-dark);
  border-radius: 5px;
  padding: 11.5px 22px;
  font-size: 1.8vh;
  font-weight: bold;
  cursor: pointer;
}
.home:active {
  background-color: var(--theme-dark);
  border: 0.2vh solid var(--theme-dark);
  color: white;
}
/* Headings */
h1 {
  margin: 0;
  font-size: 1.8rem;
  color: var(--theme-dark);
}

h2 {
  font-size: 1.5rem;
  color: var(--theme-dark);
  margin-bottom: 10px;
}

/* Form Section */
#add-secret-section {
  margin-bottom: 30px;
  padding: 20px;
  border: 3px solid var(--theme-dark);
  border-radius: 5px;
  color: var(--theme-dark);
  background-color: var(--bg-dark);
}

#add-secret-form label {
  display: block;
  margin: 10px 0 5px;
}

#add-secret-form input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid var(--theme-dark);
  border-radius: 4px;
  box-sizing: border-box;
  background: var(--bg-dark);
  color: white;
}
#add-secret-form input:focus {
  outline: none;
  border: 0.2vh solid var(--border-dark);
}

#add-secret-form button {
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  background-color: var(--clickbutton-dark);
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

#add-secret-form button:hover {
  background-color: var(--theme-dark);
  color: var(--bg-dark);
}

/* Secrets List Section */
#secrets-list-section {
  margin-top: 20px;
}

#secrets-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
  background-color: var(--border-dark);
}

#secrets-table th,
#secrets-table td {
  padding: 10px;
  text-align: left;
  border: 1px solid var(--bg-dark);
}

#secrets-table th {
  background-color: var(--theme-dark);
}

.hidden-value {
  font-family: monospace;
}

.actual-value {
  font-family: monospace;
  color: #444;
}

.toggle-visibility-button,
.copy-button,
.delete-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 5px;
}

.toggle-visibility-button:hover,
.copy-button:hover,
.delete-button:hover {
  color: var(--theme-dark);
  background-color: var(--theme-dark);
}

#encryption-key-input-section {
  display: flex;
  justify-content: center;
  align-items: left;
  margin-top: 20px;
}

#encryption-key-container {
  display: flex;
  flex-direction: row;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#encryption-key-container label {
  font-size: 16px;
  font-weight: bold;
  color: var(--theme-dark);
}

#encryption-key-container input {
  width: 250px;
  padding: 8px;
  border: 1px solid var(--theme-dark);
  background: var(--bg-dark);
  border-radius: 4px;
  font-size: 14px;
  transition: border-color 0.3s ease;
  color: white;
}

#encryption-key-container input:focus {
  border-color: var(--border-dark);
  outline: none;
}

#encryption-key-container button {
  padding: 10px 20px;
  background-color: var(--clickbutton-dark);
  color: #fff;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#encryption-key-container button:hover {
  background-color: var(--theme-dark);
  color: var(--bg-dark);
}

#encryption-key-container button:active {
  background-color: var(--border-dark);
  color: var(--bg-dark);
}

#encryption-key-container button:focus {
  outline: none;
}
